#thums2 { 
  margin: 0px 0px 0px 1px;
  width: 940px;
  min-height: 396px;  
  padding: 0px 0px 0px 0px;
}

.thums_img2{
  display: inline-block;
  width: 235px;
  height: 173px;
  display: inline-block;
  float: left;
}