*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family:  "Arial";
	text-align:center;
}
body {
  width: 100%;
  height: auto;
  font: 100%/1.5 em Arial;
  color: #111;
	background-image: url(1.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

h2{
  padding: 1%;
  /* padding: 1% 1% 1% 1%; */
  /* padding: 2% 1% 1% 1%; */
}

.autor{
	background-color:#dcd;
	padding: 1% 1% 1% 1%;
}

.entry{
	height:545px;
	padding: 1% 1% 1% 1%;
	background-color:#f00;
	opacity:0.3;
}

.time{
	height:154px;
	background-color:#f00;
	opacity:0.3;
	padding: 1% 1% 1% 1%;
}
