.header_c{
  max-width: 100%;
  height:auto;
  min-height:13rem;
  display: block;
  padding: 0;
}

#menu { 
  width: 100%;
  min-height:13rem;
  margin: 0;
  float: left;
}

#menu>* { 
  max-width: 100%;
  height:auto;
  color: #666666;    
  letter-spacing: 0.3px;
  text-align: left;
  font-size: 15.6px;
  display: inline-block;
}

 #menu>div a{ 
  max-width: 100%;
  height:auto;
  padding: 1.4rem;
  font-family: 'OpenSans_Regular';
  text-decoration: none;
  color: #666666;
  letter-spacing: 0.5px;
  display: inline-block;
  float: left;
}

 #menu>div a:hover{ 
  font-family: 'OpenSans_Regular';
  color: #FF6666;
}