* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: 0rem 3rem;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
span {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.2px;
  word-spacing: -2.5px;
  font-family: "OpenSans_Regular";
  font-weight: lighter;
}

h1,
h2,
h3 {
  color: #787878;
  font-family: "Roboto", sans-serif;
}

h2 {
  color: #333333;
  font-family: "Roboto", sans-serif;
}

a {
  color: #996633;
  text-decoration: none;
}

.margin a {
  background-color: #babaaa;
  text-decoration: none;
  border-radius: 3px;
}
