#footer{
  max-width: 100%;
  height:auto;
  background-color:#131313;
  font-size: 17px;
  margin: 0;
  padding: 23px;
  text-indent: 0;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.23px;
  color: #999999;
}