#footer{
  padding: 0px 0px 0px 1px;
  width: 941px;
  height: 54px;
  background-color:#131313;
  font-family: 'OpenSans_Light';
  font-size: 17px;
  margin: 0;
  padding: 23px;
  text-indent: 0;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.23px;
  color: #999999;
}