
#social-icons { 
  width: 136.4px;
  min-height: 36px;
  margin: 26px -8px 0px 0px;
  float: right;
  font-family: 'socialico-webfont';
  font-size: 39px;                
  text-align: right;
  z-index: 99;
  position: relative;
}

#social-icons ul{
	list-style-type: none;
}

li a, li li a:hover{
  width: 33.8px;
  min-height: 36px;

  float: left;
  font-family: 'socialico-webfont';            
  font-size: 39px;
  text-align: right;
  letter-spacing: 2.9px;
  z-index: 99;
  position: relative;
  list-style-type: none;
  text-decoration:none;
}

li a{
  color: #CCCCCC;
}

li a:hover{
  color: #8ec2da; 

  list-style-type: none;
  text-decoration:none;
}

#social-icons ul li a:nth-of-type(2) {
    color: #5579fd;  
}
