*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'OpenSans_Bold';
  font-size: 15px;
}

body {
  width: 1600px;
  height: auto;
  padding: 0px 0px 0px 328px;
  text-align: center; 
}

img{
  display: block;
  line-height: 0;
  max-width:100%;  
  height: auto;
}