*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* font-family: 'OpenSans_Bold'; */
  font-size: 15px;
}

body {
  width: 1600px;
  height: auto;
  padding: 0px 0px 0px 328px;
  text-align: center; 
}

img{
  display: block;
  line-height: 0;
  max-width:100%;  
  height: auto;
}

/* @font-face { */
  /* font-family: 'Arial_Rounded_MT_Bold'; */
  /* src: url('fonts/Arial_Rounded_MT_Bold.ttf'); */
  /* src: url('fonts/Arial_Rounded_MT_Bold.otf'); */
  /* src: url('fonts/Arial_Rounded_MT_Bold.eot'); */
  /* src: url('fonts/Arial_Rounded_MT_Bold.woff'); */
/* } */

/* dd exper */

/* @font-face { */
  /* font-family: 'Arial_Rounded_MT_Bold'; */
  /* src: url('fonts/Arial_Rounded_MT_Bold.ttf'); */
  /* src: url('fonts/Arial_Rounded_MT_Bold.otf'); */
  /* src: url('fonts/Arial_Rounded_MT_Bold.eot'); */
  /* src: url('fonts/Arial_Rounded_MT_Bold.woff'); */
/* } */

/* dd exper */



@font-face {
  font-family: 'OpenSans_Regular';
  src: url('/src/fonts/OpenSans_Regular.ttf');
}
@font-face {
  font-family: 'OpenSans_Bold';
  src: url('/src/fonts/OpenSans_Bold.ttf');
}
@font-face {
  font-family: 'OpenSans_BoldItalic';
  src: url('/src/fonts/OpenSans_BoldItalic.ttf');
}
@font-face {
  font-family: 'OpenSans_Italic';
  src: url('/src/fonts/OpenSans_Italic.ttf');
}
@font-face {
  font-family: 'OpenSans_Light';
  src: url('/src/fonts/OpenSans_Light.ttf');
}
@font-face {
  font-family: 'socialico-webfont';
  src: url('/src/fonts/socialico-webfont.ttf');
  src: url('/src/fonts/socialico-webfont.eot');
  src: url('/src/fonts/socialico-webfont.svg');
  src: url('/src/fonts/socialico-webfont.woff');
  src: url('/src/fonts/socialico-webfont.woff2');
}

.container{
  width: 940px;
  height: auto;
}

#header { 
  min-height: 269px;
  width: 940px;

}

#logo { 
  color: #fff;
  margin: 0px 0px 0px 0px;
  padding: 16px 0px 18px 1px;
  letter-spacing: 0.2px;
  width: 171px;
  min-height: 20px;
  float: left;
  background-color:#FF6666;
  text-indent: 0;
  font-family: 'Arial_Rounded_MT_Bold';
  font-size: 19px;
  text-transform: none;
  text-decoration: none;
}

#social-icons { 
  width: 136.4px;
  min-height: 36px;
  margin: 26px -8px 0px 0px;
  float: right;
  font-family: 'socialico-webfont';
  font-size: 39px;                
  text-align: right;
  z-index: 99;
  position: relative;
}

#social-icons li {
  width: 33.8px;
  min-height: 36px;
  opacity: 0.7; 
  color: #CCCCCC;
  float: left;
  font-family: 'socialico-webfont';            
  font-size: 39px;
  margin: 0px 0px 0px 0px;
  text-align: right;
  letter-spacing: 2.9px;
  z-index: 99;
  position: relative;
  list-style-type: none;
}

#social-icons li:hover{ 
  width: 33.8px;
  min-height: 36px;
  float: left;
  font-family: 'socialico-webfont';
  color: #99CCCC;            
  font-size: 39px;
  text-align: right;
  letter-spacing: 2.9px;
  z-index: 99;
  position: relative;
}

#social-icons li:nth-of-type(2) {
    color: #5579fd;  
}

#top-header { 
	padding: 0px 0px 0px 2px;
	width: 940px;
	height: 78px;
	vertical-align: middle;
	background-color:#201919;
}    

#many { 
    font-size: 16px;
    padding: 42px 0px 0px 0px; 
    margin: 0px 0px 0px 0px;
    width: 940px;
    height: 124px;
    text-indent: 0;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

.manya { 
	display:block;
	float:left;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    width: 456px;
    height: 124px;
    text-indent: 0;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

.manyb { 
  display:block;
  float:left;
  font-size: 16px;
  padding: 67px 0px 0px 156px; 
  margin: 0px 0px 0px 0px;
  width: 456px;
  height: 124px;
  text-indent: 0;
  text-transform: none;
  text-decoration: none;
  text-align: left;
}

h1,h2,h3,span {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.2px;
  word-spacing: -2.5px;
  font-family: 'OpenSans_Regular';
  font-weight: lighter;
}

h1,h2{
	color: #787878;
}

h2{
	color: #333333;
}

a{
	color: #ff5c00;
}

.header_c{
  display: block;
  width: 940px;
  height: 62px;
  padding: 0px 0px 0px 2px;
}

#menu { 
  width: 563px;
  min-height: 63px;
  float: left;
}

#menu>* { 
  border-left: 1px solid #666666; 
  min-height: 63px;
  color: #666666;    
  letter-spacing: 0.3px;
  text-align: left;
  font-family: 'OpenSans_Regular';
  font-size: 15.6px;
}

#menu>*:hover{ 
  color: #FF6666;
}

.home { 
  /* background-image: url(images/home.png); */
  background-size: 42%;
  background-position: 20px 21px;
  background-repeat: no-repeat;  
  padding: 0px 0px 0px 16px;
  width: 69px;
  display: inline-block;
  float: left;
}

.home:hover{ 
  /* background-image: url(images/homeRed.png); */
  background-size: 42%;
  background-position: 20px 21px;
  background-repeat: no-repeat;  
  padding: 0px 0px 0px 16px;
  width: 69px;
  display: inline-block;
  float: left;
}

.about-2 { 
  padding: 21px 0px 0px 19.5px;    
  width: 110px;
  display: inline-block;
  float: left;
}

.portfolio { 
  padding: 21px 0px 0px 20px;    
  width: 106px;
  display: inline-block;
  float: left;
}

.blog-2 { 
  padding: 21px 0px 0px 18.3px;
  width: 73px;
  display: inline-block;
  float: left;
}

.features { 
  padding: 20px 0px 0px 19px;    
  width: 105px;
  display: inline-block;
  float: left;
}

.contact { 
  padding: 20px 0px 0px 19px;
  border-right: 1px solid #666666;    
  width: 100px;
  display: inline-block;
  float: left;
}

.about-2,
.portfolio,
.blog-2,
.features,
.contact{
  color: #666666;
  letter-spacing: 0.5px;
}

.content{
  width: 982px;
  height: auto;
  padding: 0px 0px 0px 1px;
}

.row { 
  margin: 47px 0px 0px 0px;
  width: 941px;
  height: auto;
}

.demo{
  padding: 45px 0px 45px 1px;
}

#thums { 
  margin: 0px 0px 0px 1px;
  width: 940px;
  min-height: 396px;  
  padding: 0px 0px 0px 0px;
}

.thums_img{
  display: inline-block;
  width: 235px;
  height: 173px;
  display: inline-block;
  float: left;
}

table{
	width:940px;
	height:98px;
	border-collapse:collapse;
	border: 1px solid #d43;
}

td, tr {
	border: 1px solid #d43;
	padding:23px;
}

.before::before{
	content:"content before ";
	background-color:#c22;
    padding: 12px;
}

.margin{
	width:456px;
	height:54px;
    margin: 12px;
}

#footer{
  padding: 0px 0px 0px 1px;
  width: 941px;
  height: 54px;
  background-color:#131313;
  font-family: 'OpenSans_Light';
  font-size: 17px;
  margin: 0;
  padding: 23px;
  text-indent: 0;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.23px;
  color: #999999;
}