#header { 
  width: 940px;
  min-height: 269px;
}

#top-header { 
	width: 940px;
	height: 78px;
	vertical-align: middle;
	background-color:#201919;
}    

#logo { 
  width: 136.4px;
  height: 78px;
  color: #fff;
  padding: 18px 0px 18px 0px;
  letter-spacing: 0.2px;
  width: 171px;
  min-height: 20px;
  float: left;
  background-color:#FF6666;
  text-indent: 0;
  font-family: 'Arial_Rounded_MT_Bold';
  font-size: 19px;
  text-transform: none;
  text-decoration: none;
}

#social-icons { 
  width: 136.4px;
  min-height: 36px;
  margin: 26px -8px 0px 0px;
  float: right;
  font-family: 'socialico-webfont';
  font-size: 39px;                
  text-align: right;
  z-index: 99;
  position: relative;
}

#social-icons ul{
	list-style-type: none;
}


li a, li li a:hover{
  width: 33.8px;
  min-height: 36px;

  float: left;
  font-family: 'socialico-webfont';            
  font-size: 39px;
  text-align: right;
  letter-spacing: 2.9px;
  z-index: 99;
  position: relative;
  list-style-type: none;
  text-decoration:none;
}

li a{
  color: #CCCCCC;
}

li a:hover{
  color: #8ec2da; 
}

#social-icons ul li a:nth-of-type(2) {
    color: #5579fd;  
}

#block-personal,#personal-site{ 
    font-size: 16px;
    height: 124px;
    text-indent: 0;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

#block-personal { 
    padding: 42px 0px 0px 0px; 
    width: 940px;
}

.personal-site { 
	display:block;
	float:left;
    width: 456px;
}

.project on github { 
  display:block;
  float:left;
  font-size: 16px;
  padding: 67px 0px 0px 156px; 
  margin: 0px 0px 0px 0px;
  width: 456px;
  height: 124px;
  text-indent: 0;
  text-transform: none;
  text-decoration: none;
  text-align: left;
}
