#header {
  width: 100%;
  height: auto;
  background-color: #201919;
}

#top-header {
  width: 100%;
  height: auto;
}

#logo {
  padding: 1%;
  letter-spacing: 0.2px;
  width: 30%;
  height: auto;
  float: left;
  background-color: #444;
  text-indent: 0;
  font-size: 19px;
  text-transform: none;
  text-decoration: none;
}

#block-personal,
#personal-site {
  font-size: 1rem;
  text-indent: 0;
  text-transform: none;
  text-decoration: none;
  text-align: left;
}

#block-personal {
  width: 100%;
  height: auto;
  padding: 1.2rem;
}

.personal-site {
  display: inline-block;
  float: left;
  width: 40%;
  height: auto;
  margin: 0% 10%;
}

.project-on-github {
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
  float: left;
  font-size: 16px;
  text-indent: 0;
  text-transform: none;
  text-decoration: none;
  text-align: left;
}

.author {
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
}
