#header { 
  min-height: 269px;
  width: 940px;
}

#logo { 
  color: #fff;
  margin: 0px 0px 0px 0px;
  padding: 16px 0px 18px 1px;
  letter-spacing: 0.2px;
  width: 171px;
  min-height: 20px;
  float: left;
  background-color:#FF6666;
  text-indent: 0;
  font-family: 'Arial_Rounded_MT_Bold';
  font-size: 19px;
  text-transform: none;
  text-decoration: none;
}

#social-icons { 
  width: 136.4px;
  min-height: 36px;
  margin: 26px -8px 0px 0px;
  float: right;
  font-family: 'socialico-webfont';
  font-size: 39px;                
  text-align: right;
  z-index: 99;
  position: relative;
}

#social-icons li {
  width: 33.8px;
  min-height: 36px;
  opacity: 0.7; 
  color: #CCCCCC;
  float: left;
  font-family: 'socialico-webfont';            
  font-size: 39px;
  margin: 0px 0px 0px 0px;
  text-align: right;
  letter-spacing: 2.9px;
  z-index: 99;
  position: relative;
  list-style-type: none;
}

#social-icons li:hover{ 
  width: 33.8px;
  min-height: 36px;
  float: left;
  font-family: 'socialico-webfont';
  color: #99CCCC;            
  font-size: 39px;
  text-align: right;
  letter-spacing: 2.9px;
  z-index: 99;
  position: relative;
}

#social-icons li:nth-of-type(2) {
    color: #5579fd;  
}

#top-header { 
	padding: 0px 0px 0px 2px;
	width: 940px;
	height: 78px;
	vertical-align: middle;
	background-color:#201919;
}    

#many { 
    font-size: 16px;
    padding: 42px 0px 0px 0px; 
    margin: 0px 0px 0px 0px;
    width: 940px;
    height: 124px;
    text-indent: 0;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

.manya { 
	display:block;
	float:left;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    width: 456px;
    height: 124px;
    text-indent: 0;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

.manyb { 
  display:block;
  float:left;
  font-size: 16px;
  padding: 67px 0px 0px 156px; 
  margin: 0px 0px 0px 0px;
  width: 456px;
  height: 124px;
  text-indent: 0;
  text-transform: none;
  text-decoration: none;
  text-align: left;
}
